.share-row {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.share-header {
	font-family: Avenir;
	font-style: normal;
	font-weight: 800;
	margin-bottom: 10px;
}

.share-icon-row {
	display: flex;
	flex-direction: row;
}

.share-icon {
	margin-right: 10px;
}

.share-img {
	width: 35px;
	height: 35px;
}