.wage-upload-master {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.wage-upload-inputs {
	flex: 1.8;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50vh;
}

.share-wage-header {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 30vw;
}

.share-wage-header-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	margin-bottom: 20px;
}

.dumbass-rect {
	background: linear-gradient(90deg, #28AFB0 50%, #FAFAFA 50%);
	width: 330px;
	height: 10px;
}

.smartass-rect {
	background: #28AFB0;
	width: 330px;
	height: 10px;
}

.wage-upload-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 30vw;
	flex: 2;
}

.wage-upload-form .input-holder {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex: 1;
	margin-bottom: 20px;
}

.wage-upload-form .input-holder .input-label {
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 5px;
	margin-left: 10px;
}

.wage-upload-form .input-holder .wage-input {
	background-color: #E5E5E5;
	width: 100%;
	font-weight: 400;
	border: 0;
	min-height: 40px;
	font-size: 18px;
	border-radius: 5px;
	padding: 0px 5px;
	width: calc(30vw - 20px);
	border-radius: 5px;
	margin-right: 10px;
}

.wage-input-bar {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #E5E5E5;
	border-radius: 5px;
	margin-right: 10px;
}

.dollar-sign {
	color: #37392E;
	opacity: 0.5;
	font-weight: 300;
	font-size: 18px;
	padding: 0px 2px 0px 10px;
}

.dropdownItem {
	padding: 1px 10px;
	font-size: 14px;
}

.next-custom-btn-holder {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
}

.person-img-holder {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.restaurant-info-master {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1.5;
}

.restaurant-info-master .restaurant-img {
	border-radius: 5px;
	width: 70%;
	height: auto;
}

.restaurant-info-master .restaurant-info-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 70%;
}

.restaurant-info-text .restaurant-info-name {
	font-weight: 800;
	font-size: 24px;
	color: #37392E;
	opacity: 0.7;
	margin-top: 20px;
}

.restaurant-info-text .restaurant-addr {
	font-weight: 500;
	font-size: 18px;
	color: #37392E;
	opacity: 0.7;
	margin-bottom: 10px;
}

.restaurant-info-text .restaurant-desc {
	font-size: 18px;
	color: #37392E;
	opacity: 0.7;
}

.modal-holder {
	position: fixed;
  	top: 50%;
  	left: 50%;
  	/* bring your own prefixes */
  	transform: translate(-50%, -50%);
}
