.wage-upload-master {
  min-height: 90vh;
}

.wage-upload-inputs {
  padding-left: 10% !important;
  height: fit-content;
}

.waiter-img {
  padding: 0 20%;
}

.share-wage-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30vw;
}

.share-wage-header-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}

.bar {
  width: 110px;
  height: 10px;
  background: #eee5e5;
  margin: 0 1px;
}

.bar-filled {
  background: #28afb0;
}

.progress-title {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
}

.custom-progress-bar {
  margin-bottom: 50px;
}

.bars {
  margin-left: 1px;
}

.wage-upload-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30vw;
  flex: 2;
  margin-bottom: 50px;
}

.wage-upload-form .input-holder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  margin-bottom: 20px;
}

.wage-upload-form .input-holder .input-label {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
  margin-left: 10px;
}

.wage-upload-form .input-holder .wage-input {
  width: 100%;
  border: 0;
  margin-right: 10px;
  background-color: #fafafa;
  font-weight: 400;
  border: 0;
  min-height: 40px;
  font-size: 24px;
  border-radius: 5;
  padding: 5px 20px;
  width: calc(30vw - 20px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.wage-input-bar {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start !important;
  border-radius: 5px;
}

.dollar-sign {
  position: absolute;
  display: block;
  top: 7px;
  color: #37392e;
  padding-left: 5px;
  width: 45px;
  opacity: 0.5;
  font-weight: 300;
  font-size: 22px;
  padding: 0px 10px 0px 10px;
}

.hour-sign {
  position: absolute;
  display: block;
  top: 6px;
  right: -10px;
  color: #37392e;
  width: 45px;
  opacity: 0.5;
  font-weight: 300;
  font-size: 22px;
  padding: 0px 10px 0px 10px;
}

.hourly-wage-input {
  padding-left: 25% !important;
}

.dropdownItem {
  padding: 1px 10px;
  font-size: 14px;
}

.next-custom-btn-holder {
  width: 96%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
}

.custom-input-field {
  background: #fafafa !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.person-img-holder {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.restaurant-info-master {
  flex-direction: column;
  flex: 1.5;
  align-items: flex-start !important;
  padding-left: 5%;
}

.restaurant-info-master .restaurant-img {
  border-radius: 5px;
  width: 70%;
  height: auto;
}

.restaurant-info-master .restaurant-info-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
}

.restaurant-info-text .restaurant-info-name {
  font-weight: 800;
  font-size: 24px;
  color: #37392e;
  opacity: 0.7;
  margin-top: 20px;
}

.restaurant-info-text .restaurant-addr {
  font-weight: 500;
  font-size: 18px;
  color: #37392e;
  opacity: 0.7;
  margin-bottom: 10px;
}

.restaurant-info-text .restaurant-desc {
  font-size: 18px;
  color: #37392e;
  opacity: 0.7;
}

.modal-holder {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.blur-bg {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.select-wage-role {
  background: url("../../img/drop-down-arrow-black.png") no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 90%;
}
